include ../navbar.jade

doctype html
html(lang='en')
  head
    include ../head.jade
    title POST - The TABLEFLIP contact form handler
  body
    +navbar('inbox')
    
    #messages.mt3.max-width-4.mx-auto
    
    script(src=meta.relativePathToRoot + '/bundle.js')
