@import 'basscss-btn';
@import 'basscss-btn-primary';
@import 'basscss-type-scale';
@import 'basscss-typography';
@import 'basscss-layout';
@import 'basscss-align';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-grid';
@import 'basscss-position';
@import 'basscss-border';
@import 'basscss-hide';
@import 'basscss-forms';
@import 'basscss-colors';
@import 'basscss-background-colors';
@import 'basscss-border-colors';

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-serif: Georgia, serif;
  --font-family-monospace: 'Droid Sans Mono', 'Monaco', 'Courier New', monospace;
  --brand-primary: #FFC107;
  --brand-inverse: #37474F;
  --body-bg: whitesmoke;
}

* {
  box-sizing:border-box;
}

body {
  font-family: var(--font-family-sans-serif);
  background: var(--body-bg);
  padding:0;
  margin:0;
}

.input, .textarea, .select {
  box-sizing: border-box;
}

.bg-inverse {
  background-color: var(--brand-inverse);
  color: white;
}

.no-wrap {
  white-space:nowrap;
  text-overflow:ellipsis;
}

.nav-active {
  box-shadow: inset 0px -4px 0px var(--body-bg);
}

a {
  color: #07c;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
th {
  text-align:left;
}