doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title POST - The TABLEFLIP contact form handler
    meta(name='description', content='Contact form handler for otherwise static sites')
    link(rel='stylesheet', href=meta.relativePathToRoot + '/bundle.css')
  body
    h1 POST
    
    form
      label.label input
      input.input(type="text")
      
      label.label select
      select.select
        option option
        option other option
        
      label.label textarea
      textarea.textarea